{{ define "class" }}<div class="wrapper gallery">{{ end }}
{{ define "script1" }}{{ end }}
{{ define "script2" }}
<script id="dsq-count-scr" src="//{{ .Site.Params.DisqusShortname }}.disqus.com/count.js" async=""></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".filters li").click(function(){if(!$(this).hasClass("active")){$(".filters").find(".active").removeClass("active");$(this).addClass("active");var a=$(this).attr("data-filter");$(".work").each(function(){$(this).find("figure").css({'transform':'scale(1,1)','-moz-transform':'scale(1,1)','-webkit-transform':'scale(1,1)','opacity':'1'});if(a!='all'&&!$(this).hasClass(a)){$(this).find("figure").css({'transform':'scale(0.8,0.8)','-moz-transform':'scale(0.8,0.8)','-webkit-transform':'scale(0.8,0.8)','opacity':'0.5'})}})}});
});
</script>
{{ end }}
{{ define "main" }}
<div class="container">
		<div class="filter-section">
			<nav class="filters">
				<div class="container-fluid">
					<ul class="list-inline">
						<li data-filter="video">Video</li>
						<li data-filter="picture">Picture</li>
						<li data-filter="audio">Audio</li>
						<li data-filter="all">All</li>
					</ul>
				</div>
			</nav>
		</div>
    {{ range .Paginator.Pages }}
    {{ .Render "summary"}}
    {{ end }}
</div>
<div class="container">
	<div class="col-md-4 col-sm-6" itemscope itemtype="http://schema.org/WPSideBar">
		{{- partial "paginate.html" . }}
	</div>
</div>
{{ end }}
